AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: WebKit
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 84
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SortIncludes: true
SpaceBeforeCtorInitializerColon: false
TabWidth: 4
